.secret-word {
    display: table;
    margin: 0 auto;
    border-spacing: 5px;
}

.secret-letter {
    display: table-cell;
    width: 40px;
    height: 40px;
    font-size: 26px;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    background: lightgray;
    box-shadow: 3px 3px 4px 0px lightgray;
}

.secret-letter.matched {
    background: white;
}
