$btn-background: #6699CC;
$btn-width: 180px;

.dropdown-toggle.btn {
  display: inline-flex;
  justify-content: space-between;
  padding: 0.7rem;
  width: $btn-width;
  color: black;
  background: $btn-background;
}

.dropdown-toggle::after {
  align-self: center;
}

.dropdown-item {
  padding: 0.5em;
  display: flex;
  justify-content: flex-start;
  width: $btn-width;
}

.dropdown-item>img {
  display: inline-block;
  margin-right: 1em;
}

.submit-button {
  padding: 0.7rem;
  width: $btn-width;
  font-size: 1.3em;
  color: white;
  text-transform: capitalize;
  outline: none;
  border: none;
  background: #006666;
}

.submit-button:hover {
  color: black;
  background: #3399CC;
}