.submit-button {
  padding: 0.7rem;
  width: 100%;
  max-width: 180px;
  font-size: 1.3em;
  color: white;
  text-transform: capitalize;
  outline: none;
  border: none;
  background: #006666;
}

.submit-button:hover {
  color: black;
  background: #3399CC;
}